#idea
.idea/
.out/
target/
*.iml
*.ipr
*.iws
*.log
*.class

#eclipse
.project
.classpath
.class
.classpath.log
pom.xml.versionsBackup
.settings

#gradle
.gradle
/build/
gradle-app.setting
.gradletasknamecache

#nodejs
node_modules/

## others
.svn/
rebel.xml
.rebel-remote.xml.*

../chuyx/*/*.class

*/*.xml